body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e2e7f0;
}

header, footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 1em;
    text-align: center;
}

.nav-list {
    list-style-type: none;
    padding-left: 0;
}

.nav-item {
    float: right;
}

.nav-item-photo {
    float: left;
}


.nav-photo {
    float: left;
    height: 40px;
}


.nav-item a {
display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-item a:hover {
    background-color: #111;
}

.intro {
    display: flex;
    flex-direction: row;
}

.intro-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 1;

}

.intro-photo-main {
    width: 1000px;
}

.intro-photo {
    width: 300px;
    height: auto;
}

.intro-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.intro-logo {
    height: 80px;
    max-width: 100%;
}

.section-title {
    justify-content: center;
    font-size: 2em;
    margin: 1em 0;
    color: #1c856f;
    display: flex;
}

.about-us {
    flex: 1;
    display: flex;
    flex-direction: row;
    /* Ustawia elementy w kolumnie */

}

.about-us-intro {
    display: flex;
    flex-direction: column; /* Ustawia elementy w kolumnie */
    justify-content: center; /* Wyrównuje elementy wertykalnie w pionie */
    text-align: center; /* Centrowanie tekstu */
}

.about-us-name {
    justify-content: center;
    display: flex;
    vertical-align: auto;
}

.about-us-text{
    justify-content: center;
    display: flex;
    vertical-align: auto;
}