body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e2e7f0;
}

header, footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 1em;
    text-align: center;
}

.nav-list {
    list-style-type: none;
    padding-left: 0;
}

.nav-item {
    float: right;
}

.nav-item-photo {
    float: left;
}


.nav-photo {
    float: left;
    height: 40px;
}


.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-item a:hover {
    background-color: #111;
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.intro-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.intro-logo{
    width: 400px;
    justify-content: center;
    align-items: center;
}

.intro-photo-container {
    width: 300px;
    /* Szerokość widocznej części obrazu */
    height: 400px;
    /* Wysokość widocznej części obrazu */
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* Centruje obraz w poziomie */
    align-items: center;
    /* Centruje obraz w pionie */
}

.intro-photo-main {
    width: auto;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.intro-photo {
    width: 300px;
    height: auto;
}

.intro-text{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 40px;
    color: #1c856f;
}



.section-title {
    justify-content: center;
    font-size: 2em;
    margin: 1em 0;
    color: #1c856f;
    display: flex;
}

.about-us {
    flex: 1;
    display: flex;
    flex-direction: row;
    /* Ustawia elementy w kolumnie */

}

.about-us-intro {
    display: flex;
    flex-direction: column; /* Ustawia elementy w kolumnie */
    justify-content: center; /* Wyrównuje elementy wertykalnie w pionie */
    text-align: center; /* Centrowanie tekstu */
    flex:1;
}

.about-us-name {
    justify-content: center;
    font-weight: bolder;
    font-size: 34px;
    color: #0e4337;
}

.about-us-text-container {
    justify-content: center;
    display: flex;
    flex: 1;
    text-align: center;
}

.about-us-text{
    width: 200px;
    font-weight: lighter;
    font-size: 14;
    color: #0e4337;
}

.download-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 20px auto;
    cursor: pointer;
    width: 200px;
}

.button:hover {
    background-color: #45a049;
}

.div-button-download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.image-button-appstore {
    width: 200px;
    height: auto;
}
.image-button-googleplay {
    width: 250px;
    height: auto;
}

.two-columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
